section.anuncio {
  padding: 2%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  h1 {
    font-weight: 550;
    font-size: 2.5em;
  }
  h2 {
    font-weight: 600;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  section.anuncio {
    text-align: center;
    h1 {
      font-size: 1.7em;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
