footer {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0.5rem;

  p {
    color: white;

    a {
      text-decoration: none;
      color: rgb(0, 132, 255);
    }
  }
}
